.products {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products ul {
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            150px,
            1fr
        )
    );
    gap: 1rem;
}

.products li {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.452);
    border-radius: 15px;
    padding: 1rem;
}

.products h3 {
    margin: 0;
}

.products span {
    font-size: 1rem;
    opacity: .9;
}

.buttonChange {
    color: rgb(229, 229, 229);
}

.in-cart {
    color: rgb(136, 255, 0);
}

/* .products img {
    border-radius: 4px;
    width: 100%;
    aspect-ratio: 16/9;
    display:block;
    object-fit: cover;
    background: #fff;
} */
